.post-list {
    width: 100%;
    max-height: calc(100% - 50px)!important;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
}
.post-list__header {
    /* line-height: 40px; */
    border-bottom: 1px solid rgba(0,0,0,0.4);
    background-color: #6699ff;
}
.post-list__header .post-list__row {
    border: none!important;
    font-size: 12pt;
}
.post-list__content {
    /* height: calc(100% - 40px); */
    /* overflow: hidden; */
}
.post-list__row {
    line-height: 40px;
    cursor: pointer;
    transition: 0.2s;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    user-select: none;
    -webkit-user-select: none;
    font-size: 10pt;
    position: relative;
}
.post-list__content .post-list__row:hover {
    background-color: #cce0ff;
    transition: 0.2s;
}
.post-list__cell {
    padding: 0px 10px;
    vertical-align: middle;
}
.control-icon {
    width: 16px;
    height:16px;
}
.control-tooltip {
    width: 100px!important;
    height: auto!important;
    background-color: #f2f2f2!important;
    opacity: 1!important;
    top: 20px!important;
    left: -20px!important;
    border-radius: 2px;
    padding: 0!important;
    transition: 0.2s;
    /* overflow: hidden; */
    /* box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5); */
}
.control-tooltip:before {
    content: "";
    display: block;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;
    position: absolute;
    top:-20px;
    right: 15px;
}
.control-tooltip-inner {
    width: auto!important;
    height: auto!important;
    background-color: #f2f2f2!important;
    padding: 0px!important;
}
.control-buttons {
    width: 100px;
    height:auto;
    display: flex;
    flex-direction: column;
}
.control-buttons button {
    width: 100%!important;
    border-radius: 0!important;
    box-shadow: none!important;
    text-align: left;
    padding: 10px 5px!important;
    background-color: #f2f2f2;
    border: none;
    font-family: 'Spectral', serif;
}
.control-buttons button:hover {
    /* font-weight: bold; */
    color: #fff;
    background-color: #3333ff;
}
