<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Change password</title>
  <link rel="shortcut icon" href="/media/images/logo/logo.png" />
  <!-- Bootstrap 4 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <!-- custom css -->
  <link rel="stylesheet" href="/css/auth.css" />
</head>

<body>
  {{!-- {{#if (opt user.rule '===' 'SUBSCRIBER' opt)}}
  <a href="/" class="go-home">
    <i class="fas fa-home"></i>
  </a>
  {{else}}
  <a href="/dashboard" class="go-home">
    <i class="fas fa-home"></i>
  </a>
  {{/if}} --}}
  <div class="mx-auto mt-5 col-lg-4 col-md-6 col-sm-8">
    <!-- w-login start -->
    <div class="w-login">
      <!-- panel-forget start -->

      <div class="w-panel active panel-forgot">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="w-heading">
              <h3 class="panel-title">Đổi mật khẩu</h3>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <form name="changePwdForm" id="changePwdForm" class="changePwdForm" action="/change-password"
                  method="POST">
                  <div class="form-group wrap-input">
                    <div class="pwd-mask">
                      <input type="password" class="form-control password" name="oldPwd" id="oldPwd"
                        placeholder="Mật khẩu cũ..." />
                      <span class="w-input"></span>
                      <span class="fa fa-eye-slash pwd-toggle"></span>
                    </div>
                  </div>
                  <div class="form-group wrap-input">
                    <div class="pwd-mask">
                      <input type="password" class="form-control password" name="newPwd" id="newPwd"
                        placeholder="Mật khẩu mới..." />
                      <span class="w-input"></span>
                      <span class="fa fa-eye-slash pwd-toggle"></span>
                    </div>
                  </div>
                  <div class="form-group wrap-input">
                    <div class="pwd-mask">
                      <input type="password" class="form-control password" name="confirmNewPwd" id="confirmNewPwd"
                        placeholder="Xác nhận mật khẩu..." />
                      <span class="w-input"></span>
                    </div>
                  </div>

                  <div class="form-group mt-3">
                    <button class="btn btn-lg btn-primary w-button" type="submit">
                      Đổi Mật Khẩu
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end panel-forgot -->
    </div>
    <!-- end w-login -->
  </div>
  <!-- Bootstrap 4 -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="/js/auth.js"></script>
</body>

</html>