<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Digital News - Errors</title>
  {{!-- logo --}}
  <link rel="shortcut icon" href="/media/images/logo/logo.png" />
  <!-- bootstrap 4.3 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="h-100">
  <div class="card w-50 mx-auto">
    <div class="card-header">
      Errors
    </div>
    <div class="card-body">
      <h5 class="card-title">Just have some error on server. You can return in other time</h5>
      {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
  </div>
</body>
</html>