
<section class="top-body container mt-1">
  <div class="row">
    <!-- tag nổi bật và tin mới -->
    <div class="hightlight-content col-lg-8 col-md-12">
      <div class="tag-name">Tags:
        <span>
          <a href="/tag/tag_sample">
            <span class="tag">Mecerdes</span>
          </a>
          <a href="/tag/tag_sample">
            <span class="tag">AVG</span>
          </a>
        </span>
      </div>
      <!-- slick image -->
      <div class="slick-image">
        <div class="item-hightlight">
          <a href="/post/post_sample">
            <div class="img-link">
              <img src="media/images/Xe-1.jpg" alt="">
            </div>
            <div class="img-content">
              <div class="d-flex topic-post">
                <p class="topic">XE</p>
              </div>
              <p class="title-post">
                Lộ ảnh Mercedes-Benz GLS-Class 2020 trước ngày ra mắt, thiết kế giống GLE, nội
                thất rộng rãi hơn
              </p>
              <p class="date-post">Ngày đăng: <i>15-4- 2019</i></p>
            </div>
          </a>
        </div>
        <div class="item-hightlight">
          <a href="/post/post_sample">
            <div class="img-link">
              <img src="media/images/vh-1.jpg" alt="">
            </div>
            <div class="img-content">
              <div class="d-flex topic-post">
                <p class="topic">VĂN HÓA</p>
              </div>
              <p class="title-post">Tìm thấy căn nhà Shakespeare ngồi viết ‘Romeo và Juliet’</p>
              <p class="date-post">Ngày đăng: <i>15-4- 2019</i></p>
            </div>
          </a>
        </div>
        <div class="item-hightlight">
          <a href="/post/post_sample">
            <div class="img-link">
              <img src="media/images/tt-1.jpg" alt="">
            </div>
            <div class="img-content">
              <div class="d-flex topic-post">
                <p class="topic">THỂ THAO</p>
              </div>
              <p class="title-post">Thua sốc Lille 1-5, PSG lại lỡ cơ hội vô địch sớm Ligue I</p>
              <p class="date-post">Ngày đăng: <i>15-4- 2019</i></p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="new-content col-lg-4 col-md-12 ">
      <div class="title-new"><span class="new-news">Tin mới nhất</span></div>
      <!-- new news  -->
      <div class="slick-new-image overflow-auto bao-dien-tu-scrollbar">

      </div>
    </div>
  </div>
</section>
<section class="mid-body container mt-3">
  <div class="row">
    <div class="col-md-12 col-lg-4">
      <div class="top-10"><span>Top 10 chuyên mục</span></div>
      <div class="top-10-content bao-dien-tu-scrollbar">
        {{!-- List top 10 categories --}}
      </div>
    </div>
    <div class="most-view-content container col-md-12 col-lg-8">
      <div class="most-view"><span>Xem nhiều nhất</span> </div>
      <div class="list-mv row bao-dien-tu-scrollbar">
        {{!-- List much view --}}
      </div>
    </div>
  </div>
</section>
{{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/css/slick/slick.min.js"> </script>
<script src="/js/index.js"></script>
<script src="/js/slideout.min.js"> </script>
<script>
  var slideout = new Slideout({
    'panel': document.getElementById('wrapper'),
    'menu': document.getElementById('menu'),
    'padding': 200,
    'tolerance': 50
  });
</script>
<script>
  window.onload = function () {
    document.querySelector('.js-slideout-toggle').addEventListener('click', function () {
      slideout.toggle();
    });

    document.querySelector('.menu').addEventListener('click', function (eve) {
      if (eve.target.nodeName === 'A') {
        slideout.close();
      }
    });

    // var runner = mocha.run();
  };
</script> --}}
