<div class="container mt-5">
    <div class="row detail">
        <div class="col-lg-4 col-md-4 post-relative pr-4">
            <div class="row title-relative">
                <span>Cùng chuyên mục</span>
            </div>
            <div class="relative-item">
                <a href="" class="row">
                    <div class="relative-image col-md-6">
                        <div class="image-item">
                            <img src="/media/images/cn-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="relative-content col-md-6">
                        <div class="header-relative">
                            <div class="item-topic">
                                <span class="topic">KINH TẾ</span>
                            </div>
                            <div class="item-title">
                                <span class="title">Tuyên Quang: Đưa gỗ rừng vươn ra thế giới</span>
                            </div>
                        </div>
                        <div class="item-description">
                            <p>Tuyên Quang có 420.890ha rừng, tỷ lệ che phủ của rừng 65% là điều kiện lý tưởng để
                                tỉnh phát
                                triển kinh tế lâm nghiệp bền vững</p>
                        </div>
                        <div class="item-day">
                            <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">14-9-2019</i></span>
                        </div>
                    </div>
                </a>
            </div>
            <hr>
            <div class="relative-item">
                <a href="" class="row">
                    <div class="relative-image col-md-6">
                        <div class="image-item">
                            <img src="/media/images/cn-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="relative-content col-md-6">
                        <div class="header-relative">
                            <div class="item-topic">
                                <span class="topic">KINH TẾ</span>
                            </div>
                            <div class="item-title">
                                <span class="title">Tuyên Quang: Đưa gỗ rừng vươn ra thế giới</span>
                            </div>
                        </div>
                        <div class="item-description">
                            <p>Tuyên Quang có 420.890ha rừng, tỷ lệ che phủ của rừng 65% là điều kiện lý tưởng để
                                tỉnh phát
                                triển kinh tế lâm nghiệp bền vững</p>
                        </div>
                        <div class="item-day">
                            <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">14-9-2019</i></span>
                        </div>
                    </div>
                </a>
            </div>
            <hr>
            <div class="relative-item">
                <a href="" class="row">
                    <div class="relative-image col-md-6">
                        <div class="image-item">
                            <img src="/media/images/cn-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="relative-content col-md-6">
                        <div class="header-relative">
                            <div class="item-topic">
                                <span class="topic">KINH TẾ</span>
                            </div>
                            <div class="item-title">
                                <span class="title">Tuyên Quang: Đưa gỗ rừng vươn ra thế giới</span>
                            </div>
                        </div>
                        <div class="item-description">
                            <p>Tuyên Quang có 420.890ha rừng, tỷ lệ che phủ của rừng 65% là điều kiện lý tưởng để
                                tỉnh phát
                                triển kinh tế lâm nghiệp bền vững</p>
                        </div>
                        <div class="item-day">
                            <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">14-9-2019</i></span>
                        </div>
                    </div>
                </a>
            </div>
            <hr>
            <div class="relative-item">
                <a href="" class="row">
                    <div class="relative-image col-md-6">
                        <div class="image-item">
                            <img src="/media/images/cn-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="relative-content col-md-6">
                        <div class="header-relative">
                            <div class="item-topic">
                                <span class="topic">KINH TẾ</span>
                            </div>
                            <div class="item-title">
                                <span class="title">Tuyên Quang: Đưa gỗ rừng vươn ra thế giới</span>
                            </div>
                        </div>
                        <div class="item-description">
                            <p>Tuyên Quang có 420.890ha rừng, tỷ lệ che phủ của rừng 65% là điều kiện lý tưởng để
                                tỉnh phát
                                triển kinh tế lâm nghiệp bền vững</p>
                        </div>
                        <div class="item-day">
                            <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">14-9-2019</i></span>
                        </div>
                    </div>
                </a>
            </div>
            <hr>
            <div class="relative-item">
                <a href="" class="row">
                    <div class="relative-image col-md-6">
                        <div class="image-item">
                            <img src="/media/images/cn-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="relative-content col-md-6">
                        <div class="header-relative">
                            <div class="item-topic">
                                <span class="topic">KINH TẾ</span>
                            </div>
                            <div class="item-title">
                                <span class="title">Tuyên Quang: Đưa gỗ rừng vươn ra thế giới</span>
                            </div>
                        </div>
                        <div class="item-description">
                            <p>Tuyên Quang có 420.890ha rừng, tỷ lệ che phủ của rừng 65% là điều kiện lý tưởng để
                                tỉnh phát
                                triển kinh tế lâm nghiệp bền vững</p>
                        </div>
                        <div class="item-day">
                            <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">14-9-2019</i></span>
                        </div>
                    </div>
                </a>
            </div>
            <hr>
        </div>
        <div class="col-lg-8 col-md-8 main-content">
            <div class="header-post-detail d-flex justify-content-between">
                <div class="left-content d-flex">
                    <div class="detail-category">
                        <a href="">
                            <span>KINH TẾ</span>
                        </a>
                    </div>
                    <div class="detail-tag align-self-center ml-3">TAGs:
                        <a href=""><span>nông nghiệp</span></a>
                        <a href=""><span>gỗ</span></a>
                    </div>
                </div>
                <div class="right-content d-flex">
                    <div class="detail-day align-self-center">
                        <span>14-9-2019</span>
                    </div>
                </div>
            </div>


            <div class="image-cover">
                <img src="/media/images/cn-1.jpg" alt="">
            </div>

            <div class="detail-title">
                <p>Lá chuối vào siêu thị</p>
            </div>


            <div class="detail-content">
                <p>Chị Dương Thị Quỳnh Liên, Giám đốc HTX cho biết, HTX đang phối hợp với siêu thị Co.opmart Vĩnh Phúc
                    thử
                    nghiệm phương pháp đóng gói bằng lá chuối thay túi nilon. Lá chuối được lựa chọn kỹ càng, không quá
                    non
                    cũng không quá già, tuyệt
                    đối không dùng lá rách hoặc bị sâu bệnh. Dây chuối khô cũng được tận dụng để làm lạt buộc.

                    “Hiện tại, do mới thử nghiệm nên số lượng còn ít, chúng tôi vẫn huy động các xã viên đi tận dụng cắt
                    lá
                    chuối trong vùng về làm. Ngoài ra HTX đã liên hệ được một đại lý chuyên cung cấp lá chuối để gói giò
                    chả. Nếu mua số lượng lớn thì 7
                    nghìn đồng/kg, mua lẻ thì 8 nghìn”, chị Liên cho biết.

                    Đại diện HTX cho biết, trên thực tế, việc dùng lá chuối không rẻ hơn là bao so với túi nilon truyền
                    thống trước đây. Lá chuối muốn theo chân nông sản vào siêu thị cũng không hề đơn giản. Sau khi chọn
                    và
                    cắt, lá được đem về làm sạch. Quá
                    trình đóng gói phải thực hiện nhẹ nhàng, tránh lá bị rách nên hiệu suất công việc bị giảm. Theo chị
                    Liên, cùng một khối lượng nông sản hằng ngày xuất đi, bọc lá chuối sẽ tốn thêm một giờ đồng hồ so
                    với
                    đóng túi nilon.
                </p>
            </div>
            <div class="form-comment">
                <form action="">
                    <div class="form-group">
                        <label for="txtComment">Ý kiến của bạn</label>
                        <textarea style="width:100%;" name="txtComment" id="txtComment"
                            placeholder="Viết bình luận của bạn"></textarea>
                    </div>
                    <input type="submit" class="btn btn-secondary float-right" value="Đăng">
                </form>
            </div>
            <div class="list-comment mt-5">
                <label>Bình luận(<span class="total-comment">1</span>)</label>
                <div class="comment mt-2">
                    <div class="comment-title d-flex justify-content-between">
                        <div class="comment-author">Viet</div>
                        <div class="comment-day">14-9-2019</div>
                    </div>
                    <div class="comment-content">
                        <p>Ổn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>