<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Digital News</title>
  <!-- bootstrap 4.3 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
  <!-- slick -->
  <link rel="stylesheet" type="text/css" href="/css/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/css/slick/slick-theme.css" />
  <!-- font  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- index css -->
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/list-post.css">
  <link rel="stylesheet" href="/css/responsive/index.css">
  <link rel="stylesheet" href="/css/responsive/slideout.css">
</head>
<nav id="menu" class="menu">
  <ul class="menu-list mt-5">
    <li class="menu-list-item"><a href="#"><i class="fas fa-home"></i></a></li>
    <li class="menu-list-item"><a href="#">Xã hội</a></li>
    <li class="menu-list-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Kinh tế<b
          class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#">Nông nghiệp</a></li>
        <li class="dropdown-item"><a href="#">Công nghiệp</a></li>
      </ul>
    </li>
    <li class="menu-list-item"><a href="#">Thế giới</a></li>
    <li class="menu-list-item"><a href="#">Công nghệ</a></li>
    <li class="menu-list-item"><a href="#">Giải trí</a></li>
    <li class="menu-list-item"><a href="#">Văn hóa</a></li>
    <li class="menu-list-item"><a href="#">Pháp luật</a></li>
    <li class="menu-list-item"><a href="#">Xe</a></li>
    <li class="menu-list-item"><a href="#">Giáo dục</a></li>
    <li class="menu-list-item"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Thể thao<b
          class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#">trong nước</a></li>
        <li class="dropdown-item"><a href="#">ngoài nước</a></li>
      </ul>
    </li>
  </ul>
</nav>

<body data-spy="scroll" data-target=".new-content" data-offset="10">
  <!-- <div class="container"> -->
  <div id="wrapper" class="panel">
    <section id="section-header" class="mt-2">
      <!-- login - register -->
      <div class="container">
        <div class="first-content d-flex justify-content-between">
          <div class="logo">
            <!-- <a href="#"><img src="media/images/logo.png" alt="img"></a> -->
          </div>
          <div class="login-form">
            <span><a href="#" class="login">Đăng nhập</a> | <a href="#" class="sign-up"> Đăng kí
              </a></span>
          </div>
        </div>
      </div>
      <div class="second-header mt-2">
        <!-- logo or Digital News -->
        <div class="content-search container d-flex justify-content-between">
          <div class="digital-news"><a href="#">TIN TỨC TTV</a></div>
          <form class="form-inline md-form form-sm mt-0">
            <input class="form-control form-control-sm ml-3" type="text" placeholder="Tìm kiếm" aria-label="Search">

          </form>
        </div>
      </div>
      <!-- topic content -->

      <div class="third-header mt-2">
        <div class="container">
          <a href="#" class="btn-menu js-slideout-toggle"><i class="fas fa-bars"></i></a>
          <div class="menu-topic">
            <ul class="menu-list mt-3">
              <li class="menu-list-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="menu-list-item"><a href="#">Xã hội</a></li>
              <li class="menu-list-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Kinh tế<b
                    class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="#">Nông nghiệp</a></li>
                  <li class="dropdown-item"><a href="#">Công nghiệp</a></li>
                </ul>
              </li>
              <li class="menu-list-item"><a href="#">Thế giới</a></li>
              <li class="menu-list-item"><a href="#">Công nghệ</a></li>
              <li class="menu-list-item"><a href="#">Giải trí</a></li>
              <li class="menu-list-item"><a href="#">Văn hóa</a></li>
              <li class="menu-list-item"><a href="#">Pháp luật</a></li>
              <li class="menu-list-item"><a href="#">Xe</a></li>
              <li class="menu-list-item"><a href="#">Giáo dục</a></li>
              <li class="menu-list-item"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Thể thao<b
                    class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a href="#">trong nước</a></li>
                  <li class="dropdown-item"><a href="#">ngoài nước</a></li>
                </ul>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </section>
    <section id="section-body" class="mt-2">
      <div class="container">
        <div class="header">
        </div>
        <!-- content -->
        <div class="row content">
          <div class="col-md-8 list-content">
            <div class="title-category">
              <span>KINH TẾ</span>
            </div>
            <div class="tag-name mb-2">#Tags:
              <span>
                <a href="#">

                  <span class="tag">Phạm Nhật Vũ</span>
                </a>
                <a href="#">

                  <span class="tag">AVG</span>
                </a>
              </span>
            </div>
            <div class="item-top-10">
              <a href="#">
                <div class="row">
                  <div class="col-md-4">
                    <div class="image-item">
                      <img src="media/images/cn-1.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="item-topic">
                      <span class="topic">KINH TẾ</span>
                    </div>
                    <div class="item-title">
                      <span class="title">Lá chuối vào siêu thị</span>
                    </div>
                    <div class="item-description">
                      <p>Tuy là phụ phẩm nông nghiệp, nhưng lá chuối được thu mua với giá cao để bọc rau củ quả đưa vào
                        siêu thị.
                      </p>
                    </div>
                    <div class="item-day">
                      <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">14-9-2019</i></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item-top-10">
              <a href="#">
                <div class="row">
                  <div class="col-md-4">
                    <div class="image-item">
                      <img src="media/images/cn-1.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="item-topic">
                      <span class="topic">KINH TẾ</span>
                    </div>
                    <div class="item-title">
                      <span class="title">Lá chuối vào siêu thị</span>
                    </div>
                    <div class="item-description">
                      <p>Tuy là phụ phẩm nông nghiệp, nhưng lá chuối được thu mua với giá cao để bọc rau củ quả đưa vào
                        siêu thị.
                      </p>
                    </div>
                    <div class="item-day">
                      <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">14-9-2019</i></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item-top-10">
              <a href="#">
                <div class="row">
                  <div class="col-md-4">
                    <div class="image-item">
                      <img src="media/images/cn-1.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="item-topic">
                      <span class="topic">KINH TẾ</span>
                    </div>
                    <div class="item-title">
                      <span class="title">Lá chuối vào siêu thị</span>
                    </div>
                    <div class="item-description">
                      <p>Tuy là phụ phẩm nông nghiệp, nhưng lá chuối được thu mua với giá cao để bọc rau củ quả đưa vào
                        siêu thị.
                      </p>
                    </div>
                    <div class="item-day">
                      <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">14-9-2019</i></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item-top-10">
              <a href="#">
                <div class="row">
                  <div class="col-md-4">
                    <div class="image-item">
                      <img src="media/images/cn-1.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="item-topic">
                      <span class="topic">KINH TẾ</span>
                    </div>
                    <div class="item-title">
                      <span class="title">Lá chuối vào siêu thị</span>
                    </div>
                    <div class="item-description">
                      <p>Tuy là phụ phẩm nông nghiệp, nhưng lá chuối được thu mua với giá cao để bọc rau củ quả đưa vào
                        siêu thị.
                      </p>
                    </div>
                    <div class="item-day">
                      <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">14-9-2019</i></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item-top-10">
              <a href="#">
                <div class="row">
                  <div class="col-md-4">
                    <div class="image-item">
                      <img src="media/images/cn-1.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="item-topic">
                      <span class="topic">KINH TẾ</span>
                    </div>
                    <div class="item-title">
                      <span class="title">Lá chuối vào siêu thị</span>
                    </div>
                    <div class="item-description">
                      <p>Tuy là phụ phẩm nông nghiệp, nhưng lá chuối được thu mua với giá cao để bọc rau củ quả đưa vào
                        siêu thị.
                      </p>
                    </div>
                    <div class="item-day">
                      <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">14-9-2019</i></span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- post relative -->
          <div class="col-md-4 post-relative">
            <div class="title-category-right"><span>Xem nhiều nhất</span></div>
            <a href="#" class="item-relative">
              <div class="row">
                <div class="relative-content col-md-6">
                  <div class="header-relative">
                    <div class="item-topic">
                      <span class="topic">KINH TẾ</span>
                    </div>
                    <div class="item-title">
                      <span class="title">Doanh nghiệp phải tích cực đổi mới công nghệ</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <p>Đó là ý kiến chỉ đạo của lãnh đạo Ủy ban Mặt trận Tổ quốc Việt Nam tại Hội nghị Tổng kết 10 năm
                      “Cuộc vận động người Việt Nam ưu tiên dùng hàng Việt Nam” tổ chức cuối tuần qua tại TP.HCM.
                    </p>
                  </div>
                  <div class="item-day">
                    <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">22-4-2019</i></span>
                  </div>
                </div>
                <div class="relative-image col-md-6">
                  <div class="image-item mt-4">
                    <img src="media/images/cn-1.jpg" alt="">
                  </div>
                </div>
              </div>
            </a>
            <hr>
            <a href="#" class="item-relative">
              <div class="row">
                <div class="relative-content col-md-6">
                  <div class="header-relative">
                    <div class="item-topic">
                      <span class="topic">KINH TẾ</span>
                    </div>
                    <div class="item-title">
                      <span class="title">Doanh nghiệp phải tích cực đổi mới công nghệ</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <p>Đó là ý kiến chỉ đạo của lãnh đạo Ủy ban Mặt trận Tổ quốc Việt Nam tại Hội nghị Tổng kết 10 năm
                      “Cuộc vận động người Việt Nam ưu tiên dùng hàng Việt Nam” tổ chức cuối tuần qua tại TP.HCM.
                    </p>
                  </div>
                  <div class="item-day">
                    <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">22-4-2019</i></span>
                  </div>
                </div>
                <div class="relative-image col-md-6">
                  <div class="image-item mt-4">
                    <img src="media/images/cn-1.jpg" alt="">
                  </div>
                </div>
              </div>
            </a>
            <hr>
            <a href="#" class="item-relative">
              <div class="row">
                <div class="relative-content col-md-6">
                  <div class="header-relative">
                    <div class="item-topic">
                      <span class="topic">KINH TẾ</span>
                    </div>
                    <div class="item-title">
                      <span class="title">Doanh nghiệp phải tích cực đổi mới công nghệ</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <p>Đó là ý kiến chỉ đạo của lãnh đạo Ủy ban Mặt trận Tổ quốc Việt Nam tại Hội nghị Tổng kết 10 năm
                      “Cuộc vận động người Việt Nam ưu tiên dùng hàng Việt Nam” tổ chức cuối tuần qua tại TP.HCM.
                    </p>
                  </div>
                  <div class="item-day">
                    <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">22-4-2019</i></span>
                  </div>
                </div>
                <div class="relative-image col-md-6">
                  <div class="image-item mt-4">
                    <img src="media/images/cn-1.jpg" alt="">
                  </div>
                </div>
              </div>
            </a>
            <hr>
            <a href="#" class="item-relative">
              <div class="row">
                <div class="relative-content col-md-6">
                  <div class="header-relative">
                    <div class="item-topic">
                      <span class="topic">KINH TẾ</span>
                    </div>
                    <div class="item-title">
                      <span class="title">Doanh nghiệp phải tích cực đổi mới công nghệ</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <p>Đó là ý kiến chỉ đạo của lãnh đạo Ủy ban Mặt trận Tổ quốc Việt Nam tại Hội nghị Tổng kết 10 năm
                      “Cuộc vận động người Việt Nam ưu tiên dùng hàng Việt Nam” tổ chức cuối tuần qua tại TP.HCM.
                    </p>
                  </div>
                  <div class="item-day">
                    <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">22-4-2019</i></span>
                  </div>
                </div>
                <div class="relative-image col-md-6">
                  <div class="image-item mt-4">
                    <img src="media/images/cn-1.jpg" alt="">
                  </div>
                </div>
              </div>
            </a>
            <hr>
            <a href="#" class="item-relative">
              <div class="row">
                <div class="relative-content col-md-6">
                  <div class="header-relative">
                    <div class="item-topic">
                      <span class="topic">KINH TẾ</span>
                    </div>
                    <div class="item-title">
                      <span class="title">Doanh nghiệp phải tích cực đổi mới công nghệ</span>
                    </div>
                  </div>
                  <div class="item-description">
                    <p>Đó là ý kiến chỉ đạo của lãnh đạo Ủy ban Mặt trận Tổ quốc Việt Nam tại Hội nghị Tổng kết 10 năm
                      “Cuộc vận động người Việt Nam ưu tiên dùng hàng Việt Nam” tổ chức cuối tuần qua tại TP.HCM.
                    </p>
                  </div>
                  <div class="item-day">
                    <span class="day"><strong>Ngày đăng:</strong> <i class="date-post">22-4-2019</i></span>
                  </div>
                </div>
                <div class="relative-image col-md-6">
                  <div class="image-item mt-4">
                    <img src="media/images/cn-1.jpg" alt="">
                  </div>
                </div>
              </div>
            </a>
            <hr>

          </div>
        </div>
        <!-- pagination -->

        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>

      </div>
    </section>
    <footer id="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="left-content row">
              <div class="name-web col-md-3"><span class="name">Tin Tức TTV</span></div>
              <div class="copyright col-md-6">
                <span class="content">
                  ® Tin Tức TTV giữ bản quyền nội dung trên website này
                </span>

              </div>

              <div class=" hotline col-md-3">
                <span class="">Hotline: 088 888 8888</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <!-- script bootstrap jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/css/slick/slick.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/slideout.min.js"></script>
  {{!-- <script>
    var slideout = new Slideout({
      'panel': document.getElementById('wrapper'),
      'menu': document.getElementById('menu'),
      'padding': 200,
      'tolerance': 50
    });
  </script>
  <script>
    window.onload = function () {
      document.querySelector('.js-slideout-toggle').addEventListener('click', function () {
        slideout.toggle();
      });

      document.querySelector('.menu').addEventListener('click', function (eve) {
        if (eve.target.nodeName === 'A') {
          slideout.close();
        }
      });

      // var runner = mocha.run();
    };
  </script> --}}

</body>

</html>