.functionButtons button {
  /* background: none !important; */
  margin: 0px 5px;
}

.rootCategory,
.subCategory {
  cursor: pointer;
  display: flex;
  font-size: 1.8vh;
}

.subCategoryList {
  /* transition: 0.3s; */
}