:root {
  --db-header-height: 80px;
  --small-icon-size: 20px;
  --avatar-size: 40px;
  --menu-item-height: 50px;
  --menu-item-bg: yellow;
  --menu-item-bg-hover: rgba(233, 30, 99, 0.5);
  --menu-item-color: rgba(0, 0, 0, 0.7);
  --menu-item-color-hover: #fff;
  --menu-item-font-weight: bold;
  --dashboard-main-content-left-sidebar-width: 200px;
}

@media screen and (max-width: 576px) {
  :root {
    --dashboard-main-content-left-sidebar-width: 0px;
  }
}

* {
  font-family: 'Spectral', serif;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}

/* header */

#dashboard-header {
  width: 100%;
  height: var(--db-header-height);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  --hhh: 100px;
}

.dashboard-header__toggle-menu {
  width: var(--small-icon-size);
  height: var(--small-icon-size);
  box-sizing: border-box;
  margin: 25px 0px !important;
  cursor: pointer;
}

.dashboard-header__toggle-menu img {
  width: 100%;
  height: 100%;
}

#dashboard-header__right-sidebar {
  width: 150px;
  position: relative;
}

#dashboard-header__right-sidebar div {
  cursor: pointer;
}

#dashboard-header__right-sidebar #avatar-user {
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#dashboard-header__right-sidebar #avatar-user:hover {
  box-shadow: 0px 0px 1px 2px #E91E63;
}

.dashboard-header__right-sidebar__icon {
  margin: 25px 0px !important;
}

.image-small-container {
  width: var(--small-icon-size);
  height: var(--small-icon-size);
}

#avatar-user {
  width: var(--avatar-size);
  height: var(--avatar-size);
}

/* main */

#dashboard-main {
  position: relative;
  height: calc(100% - var(--db-header-height));
}

.dashboard-main__content {
  height: 100%;
  flex-wrap: wrap;
  justify-items: stretch;
}

/* main menu */

@keyframes collapseMenu {
  from {
    --dashboard-main-content-left-sidebar-width: 200px;
  }

  to {
    --dashboard-main-content-left-sidebar-width: 75px;
  }
}

@keyframes expandMenu {
  from {
    --dashboard-main-content-left-sidebar-width: 75px;
  }

  to {
    --dashboard-main-content-left-sidebar-width: 200px;
  }
}

#dashboard-main__left-sidebar {
  height: 100%;
  transition: ease 0.2s;
  width: var(--dashboard-main-content-left-sidebar-width);
  overflow: auto;
  box-sizing: border-box;
}

.collapse-menu {
  animation-name: collapseMenu;
  animation-duration: ease 0.2s !important;
  grid-template-columns: 75px auto;
}

.expand-menu {
  animation-name: expandMenu;
  animation-duration: ease 0.2s !important;
}

.is-collapse-menu {
  display: none;
}

.menu-item-group:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.menu-item-group__item {
  position: relative;
  height: var(--menu-item-height);
  display: flex;
  align-items: center;
  padding: 0px 20px;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
}

.menu-item-group__item__activing {
  background-color: #E91E63;
  color: var(--menu-item-color-hover) !important;
  font-weight: var(--menu-item-font-weight) !important;
}

.menu-item-group__item__icon {
  display: block;
  width: 24px;
  height: 24px;
  font-size: 24px !important;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.menu-item-group__item:not(.menu-item-group__item__activing):hover {
  background-color: var(--menu-item-bg-hover);
  transition: ease 0.25s !important;
}

.menu-item-group__item__title {
  margin-left: 10px;
}

.menu-item-group__item:hover .menu-item-group__item__icon,
.menu-item-group__item__activing .menu-item-group__item__icon {
  color: #fff !important;
}

.menu-item-group__item:hover .menu-item-group__item__title,
.menu-item-group__item__activing .menu-item-group__item__title {
  color: #fff !important;
  font-weight: bold !important;
}

.menu-item-group__item__activing .count-num {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  top: 5px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255)
}

.img-activing {
  filter: brightness(200%);
  color: blue;
}

#dashboard-main__right-sidebar {
  width: calc(100% - var(--dashboard-main-content-left-sidebar-width));
  height: 100%;
  position: relative;
}

#dashboard-main__right-sidebar__content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 576px) {
  #dashboard-main__right-sidebar {
    width: 100%;
  }
}

#mobile-menu {
  width: 300px;
  height: auto;
  position: absolute;
  top: -20px;
  left: -300px;
  padding: 20px;
  z-index: 101;
  background-color: #0d0d0d;
}

#mobile-menu .menu-item-group__item__title {
  color: rgba(255, 255, 255, 0.5);
}

#mobile-menu .menu-item-group__item .menu-item-group__item__icon {
  color: rgba(255, 255, 255, 0.3);
}

@keyframes showMenu {
  from {
    left: -300px;
  }

  to {
    left: 0px;
  }
}

@keyframes hideMenu {
  from {
    left: 0px;
  }

  to {
    left: -300px;
  }
}

.show-menu {
  left: 0px !important;
  animation-name: showMenu;
  animation-duration: 0.3s;
}

.hide-menu {
  left: -300px !important;
  animation-name: hideMenu;
  animation-duration: 0.3s;
}

.post-list-container {
  width: 100%;
  height: auto;
  padding: 20px;
  /* overflow: hidden; */
  position: relative;
}