.bao-dien-tu-dialog-small {
    max-width: 500px!important;
}

.bao-dien-tu-dialog-ex-small {
    max-width: 300px!important;
}

.bao-dien-tu-dialog-medium {
    max-width: 70%!important;
}

.bao-dien-tu-dialog-big {
    max-width: 90%!important;
}