<div style="padding: 20px;">
  <div class="w-table-wrapper">
    <div class="w-table-title mb-4">
      <button type="button" id="add-new" class=" btn btn-outline-primary">
        <i class="fas fa-plus align-baseline"></i>&nbsp;Add new
      </button>
      <button type="button" class=" ml-2 btn btn-outline-secondary" disabled id="delete-all">
        <i class="fas fa-times align-baseline"></i>&nbsp;Delete
      </button>
    </div>

    <div class="w-table-body">
      <div class="table-responsive-sm">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <td scope="col" style=" width: 1%;"></td>
              <td scope="col" style=" width: 20%;">Category</td>
              <td scope="col" style=" width: 20%;">Category Parent</td>
              <td scope="col" style=" width: 20%;">Status</td>
              <td scope="col" class="text-center" style=" width: 10%;">
                Post Count
              </td>
              <td scope="col" class="text-center" style=" width: 10%;">
                Created Date
              </td>
              <td scope="col" style=" width: 8%;"></td>
            </tr>
          </thead>
          <tbody id="data-container">
            <!-- list tags -->
          </tbody>
        </table>
        <div id="pagination-container"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tag-modal" tabindex="-1" role="dialog" aria-labelledby="tag-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tag-modal-label">/h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="tag-name" class="col-form-label">Category:</label>
            <input type="text" class="form-control" id="tag-name" />
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="tag-status" />
            <label class="custom-control-label" for="tag-status">Active</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" id="submit-modal-btn" class="btn btn-success">
          Done
        </button>
      </div>
    </div>
  </div>
</div>