<div style="padding: 20px;">
  <form id="postForm" name="createPostForm" encType="multipart/form-data" method="POST" action="/dashboard/create-post">
    <div class=" d-flex justify-content-between">
      <div class="form-group position-relative wrap-input">
        <input type="text" class="form-control title-input" name="title" placeholder="Title..." />
        <span class="w-input"></span>
        <span class="title-harsh">Title:</span>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Category</span>
      </div>
      <div class="input-group select-category-container">
        <select class="custom-select h-100" name="category" id="categorySelection">
          {{#each categories}}
          <option value="{{this.category_id}}">{{this.category_name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Tags</span>
      </div>
      <div class="form-control tags h-auto" id="tags">
        <input type="text" id="tagInput" class="labelinput dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
        <input type="hidden" value="[]" name="tags">
        <div class="dropdown-menu tag-hints bao-dien-tu-scrollbar">
          {{#each tags}}
          <span class="dropdown-item tag-hint" tag-id="{{this.tag_id}}">{{this.tag_name}}
          </span>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Youtube Url</span>
      </div>
      <input type="text" class="form-control" name="youtubeUrl" placeholder="Youtube url..." aria-label="youtubeUrl"
        aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="avatarImageLabel">Upload Avatar Image</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="avatarImageInput" name="avatarImage"
          accept="image/png, image/jpeg, image/gif" aria-describedby="avatarImageLabel">
        <label class="custom-file-label" name="avatarImageName" for="avatarImageInput">Choose image</label>
      </div>
    </div>
    <div class="avatar-image-preview-container">
      <img src="" alt="..." class="avatar-image-preview img-thumbnail">
      <button type="button" class="btn btn-danger rounded-circle p-0 m-0 remove-avatar-image-button">
        <i class="fas fa-times-circle"></i>
      </button>
    </div>
    <div class="form-group position-relative wrap-input">
      <input type="text" class="form-control summary-input" name="summary" placeholder="Summary" />
      <span class="w-input"></span>
      <span class="summary-harsh">Summary:</span>
    </div>
    <div class="form-group">
      <textarea name="create-post-editor"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary w-button" type="button" onclick="createNewPost()">
        Done
      </button>
    </div>
  </form>
</div>
