<div class="edit-user-container">
    {{#if (opt userRole '===' 'EDITOR' opt)}}
    <div class="edit-user-group">
        <div class="edit-user-group__title">Categories assigned</div>
        <div class="edit-user-group__content">
            {{#each categories}}
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input bao-dien-tu-checkbox category-assigned"
                    id="category-{{this.category_id}}">
                <label class="custom-control-label bao-dien-tu-checkbox-mark"
                    for="category-{{this.category_id}}">{{this.category_name}}</label>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{#if (opt userRole '===' 'SUBSCRIBER' opt)}}
    <div class="edit-user-group">
        <div class="edit-user-group__title">Expiration</div>
        <div class="edit-user-group__content">
            <input class="form-control" id="expirationDateInput" placeholder="Select for expiration">
        </div>
    </div>
    {{/if}}

</div>