<div class="user-list-container">
  <table class="user-list">
    <thead class="user-list__header">
      <tr class="user-list__row">
        <th class="user-list__cell">User</th>
        <th class="user-list__cell">Account</th>
        <th class="user-list__cell">Birthday</th>
        <th class="user-list__cell">Rule</th>
        <th class="user-list__cell">Status</th>
        <th class="user-list__cell user-list__control-icon"></th>
      </tr>
    </thead>
    <tbody class="user-list__content">
    </tbody>
  </table>
  <div class="pagination">
    <!--<ul class="">
        <li class="pagination__item pagination__item-control pagination__item-previous-button">
          <i class="pagination-icon pagination-icon-arrow-left"></i>
        </li>
        <li class="pagination__item pagination__item-control pagination__item-next-button">
          <i class="pagination-icon pagination-icon-arrow-right"></i>
        </li>
      </ul>-->
  </div>
</div>